<!-- actualidad -->
<section class="py-4">
    <div class="container-xxl" >
      <div class="col-12">
        <span class="text-title-act text-start">
          Actualidad
        </span>
      </div>
      <div class="col-12">
        <span class="text-sub-title-act text-start">
          Entérate de todas las noticias del Estado colombiano.
        </span>
      </div>
      <div class="row">
        <div class="col-4 pt-5">
          <div class="col-12">
            <img class="img-act" src="https://govco-prod-webutils.s3.amazonaws.com/uploads/2023-09-04/174b46c1-02a4-41c4-af3d-319383042008-GOV.CO.jpg" alt="img-actualidad">
          </div>
          <div class="col-12 py-3">
            <span class="txt-date">
              7 de julio de 2021
            </span>
          </div>
          <div class="col-12">
            <a class="lnk-act" href="#">Cursos gratuitos virtuales para colombianos sin empleo</a>
          </div>
        </div>
        <div class="col-4 pt-5">
          <div class="col-12">
            <img class="img-act" src="https://govco-prod-webutils.s3.amazonaws.com/uploads/2023-09-04/174b46c1-02a4-41c4-af3d-319383042008-GOV.CO.jpg" alt="img-actualidad">
          </div>
          <div class="col-12 py-3">
            <span class="txt-date">
              7 de julio de 2021
            </span>
          </div>
          <div class="col-12">
            <a class="lnk-act" href="#">Cursos gratuitos virtuales para colombianos sin empleo</a>
          </div>
        </div>
        <div class="col-4 pt-5">
          <div class="col-12">
            <img class="img-act" src="https://govco-prod-webutils.s3.amazonaws.com/uploads/2023-09-04/174b46c1-02a4-41c4-af3d-319383042008-GOV.CO.jpg" alt="img-actualidad">
          </div>
          <div class="col-12 py-3">
            <span class="txt-date">
              7 de julio de 2021
            </span>
          </div>
          <div class="col-12">
            <a class="lnk-act" href="#">Cursos gratuitos virtuales para colombianos sin empleo</a>
          </div>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-12 text-center">
          <button class="btn btn-white-act" type="button">Ver más noticias</button>
        </div>
      </div>
    </div>
  </section>
