<!-- actualidad -->
<section class="py-4">
    <div class="container-xxl" >
      <div class="col-12">
        <span class="text-title-act text-start">
          {{actualidadControl?.titulo}}
        </span>
      </div>
      <div class="col-12">
        <span class="text-sub-title-act text-start">
          {{actualidadControl?.descripcion}}
        </span>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-6 col-xl-4 col-xxl-4 pt-5 text-sm-center text-lg-start pt-sm-3 pt-lg-1" *ngFor="let item of actualidadData">
          <div class="col-12">
            <img class="img-act" [src]="item.imagen" alt="img-actualidad">
          </div>
          <div class="col-12 py-xs-2 py-lg-3">
            <span class="txt-date">
              {{item.textoFecha}}
            </span>
          </div>
          <div class="col-12">
            <a class="lnk-act" href="#">{{item.titulo}}</a>
          </div>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-12 text-center">
          <button class="btn btn-white-act" type="button">{{actualidadControl?.botonTexto}}</button>
        </div>
      </div>
    </div>
  </section>
