<!-- banner informativo -->
<section style="background-color: #F42F63; height: 40px;">
    <div class="container-xxl">
      <div class="row align-items-center">
        <div class="col-6">
          <span style="color: white; font-size: 15px;">Facilitamos tu búsqueda, encuentra trámites y servicios destacados</span>
        </div>
        <div class="col-6 text-end">
          <a href="#" style="font-size: 13px; color: white;">Recordármelo luego</a>
        </div>
      </div>
    </div>
  </section>
  <!-- banner principal -->
  <section style=" height: 350px; background: #3366CC; opacity: 0.9; background-size: cover;
      background-repeat: no-repeat; background-image: url(https://govco-prod-webutils.s3.amazonaws.com/uploads/2021-11-20/7130a4cd-5b10-4890-96e1-8784f68a25fd-3_Tayrona%20bn-2550000_1920.jpg); background-blend-mode: multiply;
      mix-blend-mode: multiply;">
    <div class="container-xxl txt-start pt-4">
      <div class="col-12">
        <span class="txt-title-banner">
          ¡Hola! Estás en GOV.CO
        </span>
      </div>
      <div class="col-12">
        <span class="txt-sub-title-banner">
          Encuentra trámites, servicios e información del Estado colombiano.
        </span>
      </div>
      <div class="col-12 pt-5">
        <span class="txt-sub-banner">
          ¿No sabes cómo buscar?
        </span>
      </div>
      <div class="col-12 pt-2">
        <button class="btn btn-outline-transparent me-2" type="button">
          Buscar por categoria
        </button>
      </div>
    </div>
  </section>
