<!-- banner informativo -->
<section *ngIf="bannerControl" [ngStyle]="{'background-color': bannerControl.colorFondo}" style="margin-top: 57px;">
    <div class="container-xxl">
      <div class="row align-items-center py-2">
        <div class="col-xs-12 col-md-6 text-sm-center text-md-start ">
          <span [ngStyle]="{'color': bannerControl.colorTexto}" style="font-size: 15px">{{bannerControl.texto}}</span>
        </div>
        <div class="col-xs-12 col-md-6 text-sm-center text-md-end">
          <a href="javascript:void(0)" [ngStyle]="{'color': bannerControl.colorTexto}" style="font-size: 13px">{{bannerControl.textoAuxiliar}}</a>
        </div>
      </div>
    </div>
  </section>
  <!-- banner principal -->
  <section *ngIf="bannerData" class="bg-img" [ngStyle]="{'background-image': 'url('+bannerData.listaImagenes[0]?.urlImagen+')'}">
    <div class="container-xxl txt-start pt-4">
      <div class="col-12">
        <span class="txt-title-banner">
          {{bannerData.textoBienvenida}}
        </span>
      </div>
      <div class="col-12">
        <span class="txt-sub-title-banner">
          {{bannerData.textoBuscador}}
        </span>
      </div>
      <div class="col-12 pt-5">
        <span class="txt-sub-banner">
          {{bannerData.textoAuxiliar}}
        </span>
      </div>
      <div class="col-12 pt-2">
        <button class="btn btn-outline-transparent me-2" type="button" (click)="goToCategorias()">
          {{bannerData.textoBotonAuxiliar}}
        </button>
      </div>
    </div>
  </section>
