<header class="navbar fixed-top navbar-expand-lg bg-blue">
  <nav class="container-xxl">
    <div class="container-fluid d-xxl-flex px-0">
      <a class="navbar-brand" href="#">
        <img src="../assets/Govco.svg" alt="logoMenu" />
      </a>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarSupportedContent"
      >
        <form class="d-flex" role="search">
          <button class="btn btn-outline-white me-2" type="button">
            inicia sesión
          </button>
          <button class="btn btn-white" type="button">Registrate</button>
        </form>
      </div>
    </div>
  </nav>
</header>
<!-- banner -->
<app-banner></app-banner>
<!-- tramites -->
<app-tramites></app-tramites>
<!-- actualidad -->
<app-actualidad></app-actualidad>
<!-- contacto de emergencia -->
<section>
  <div class="container-xxl my-5">
    <div class="col">
      <span class="txt-title">Contactos de emergencia</span>
    </div>
    <div class="col py-3">
      <span class="txt-sub-title"
        >Llama a las líneas de atención correspondientes a tu necesidad.</span
      >
    </div>
    <div class="row">
      <div class="col-6">
        <div class="col-12 my-2">
          <img src="../assets/telefono_contorno.svg" alt="telefono" />
          <span class="phone-number mx-2"> 123</span>
          <span class="phone-name">
            Línea Única de Atención de Emergencias
          </span>
        </div>
        <div class="col-12 my-2">
          <img src="../assets/telefono_contorno.svg" alt="telefono" />
          <span class="phone-number mx-2"> 167 </span>
          <span class="phone-name"> Línea antinarcóticos </span>
        </div>
        <div class="col-12 my-2">
          <img src="../assets/telefono_contorno.svg" alt="telefono" />
          <span class="phone-number mx-2"> 165 </span>
          <span class="phone-name"> Línea Antisecuestro y antiestorsión </span>
        </div>
        <div class="col-12 my-2">
          <img src="../assets/telefono_contorno.svg" alt="telefono" />
          <span class="phone-number mx-2"> 155 </span>
          <span class="phone-name"> Línea atención a mujeres </span>
        </div>
      </div>
      <div class="col-6 text-left">
        <div class="col-12 my-2">
          <img src="../assets/telefono_contorno.svg" alt="telefono" />
          <span class="phone-number mx-2"> 191 </span>
          <span class="phone-name col mx-3 ps-1"> Línea Cruz Roja </span>
        </div>
        <div class="col-12 my-2">
          <img src="../assets/telefono_contorno.svg" alt="telefono" />
          <span class="phone-number mx-2"> 144 </span>
          <span class="phone-name col mx-3"> Línea defensa civil </span>
        </div>
        <div class="col-12 my-2">
          <img src="../assets/telefono_contorno.svg" alt="telefono" />
          <span class="phone-number mx-2"> #767 </span>
          <span class="phone-name col mx-1"> Línea Seguridad vial </span>
        </div>
        <div class="col-12 my-2">
          <img src="../assets/telefono_contorno.svg" alt="telefono" />
          <span class="phone-number mx-2"> 166 </span>
          <span class="phone-name col mx-3">
            Línea transparencia institucional
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer -->
<footer class="bg-blue">
  <div class="container-xxl py-4">
    <div class="row">
      <div class="col-2 my-3 text-center">
        <img src="../assets/Govco.svg" alt="logoMenu" />
        <div class="col-12 pt-3 text-center">
          <img src="../assets/marca_pais.svg" alt="logoMenu" />
        </div>
      </div>
      <div class="col-4">
        <div class="col-12 pt-2 px-4">
          <span class="txt-title-bold-footer"
            >Portal Único del Estado Colombiano</span
          >
        </div>
        <div class="col-12 border-white-left px-4 pt-4 h-470">
          <div class="col-12">
            <div class="txt-title-footer col-12">Dirección:</div>
            <div class="txt-content-footer col-12">
              Edificio Murillo Toro Cra. 8a entre calles 12A y 12B. Bogotá,
              Colombia.
            </div>
          </div>
          <div class="col-12 py-2">
            <div class="txt-title-footer col-12">Horarios de atención</div>
            <div class="txt-content-footer col-12">
              <ul class="px-3 my-0">
                <li>
                  Atención presencial: Martes, Miércoles y Viernes de 9:00 am a
                  3:00 pm jornada continua.
                </li>
                <li>
                  Atención Canales Virtuales: Lunes a viernes de 8:30 am - 4:30
                  pm.
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 py-2">
            <div class="txt-title-footer col-12">Código postal:</div>
            <div class="txt-content-footer col-12">111711</div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="col-12 pt-2 px-4">
          <div class="col-12 d-flex px-4">
            <img src="../assets/telefono.svg" alt="logo_telefono" />
            <span class="txt-subtitle-footer mx-3"> Contacto </span>
          </div>
          <div class="col-12 border-white-left px-4 pt-2">
            <div class="col-12 py-1">
              <div class="txt-title-footer col-12">Teléfono</div>
              <div class="txt-content-footer col-12">
                <ul class="px-3 my-0">
                  <li>Nacional: 01 8000 95 2525</li>
                  <li>Bogotá: +(57) 601 390 7950</li>
                  <li>Línea Anticorrupción: 01-800-0912667</li>
                </ul>
              </div>
            </div>
            <div class="col-12">
              <div class="txt-title-footer col-12">Correo institucional:</div>
              <div class="txt-content-footer col-12">
                <a class="txt-link" href="#">soporteccc@mintic.gov.co</a>
              </div>
            </div>
            <div class="col-12 py-5">
              <div class="txt-content-footer col-12">
                <a class="txt-link" href="#">soporteccc@mintic.gov.co</a>
              </div>
              <div class="txt-content-footer col-12">
                <a class="txt-link" href="#">Llamada web</a>
              </div>
              <div class="txt-content-footer col-12">
                <a class="txt-link" href="#">Hablemos en línea</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="col-12 pt-2 px-4">
          <div class="col-12 d-flex px-4">
            <img src="../assets/info_contorno.svg" alt="logo_telefono" />
            <span class="txt-subtitle-footer mx-3"> A cerca del sitio </span>
          </div>
          <div class="col-12 border-white-left px-4 pt-1 h-470">
            <div class="col-12 py-1">
              <div class="txt-content-footer col-12">
                <a class="txt-link" href="#">Mapa del sitio</a>
              </div>
              <div class="txt-content-footer col-12">
                <a class="txt-link" href="#">Políticas de privacidad</a>
              </div>
              <div class="txt-content-footer col-12">
                <a class="txt-link" href="#">Políticas de derechos de autor</a>
              </div>
              <div class="txt-content-footer col-12">
                <a class="txt-link" href="#">Términos y condiciones</a>
              </div>
            </div>
            <div class="col-12 d-flex pt-5">
              <img src="../assets/persona.svg" alt="logo_telefono" />
              <span class="txt-subtitle-footer ms-2">
                Ayudas de accesibilidad
              </span>
            </div>
            <div class="txt-content-footer col-12 pb-5">
              <a class="txt-link" href="#">Centro de relevo</a>
            </div>
            <div class="col-12 d-flex pt-4">
              <img src="../assets/twitter.svg" alt="logo_twitter" />
              <a class="txt-link mx-2" href="#"> Siguenos en Twitter </a>
            </div>
            <div class="col-12 d-flex pt-2">
              <img src="../assets/facebook.svg" alt="logo_facebook" />
              <a class="txt-link mx-2" href="#"> Siguenos en Facebook </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
