.bg-blue {
  background-color: #3366cc;
}

.btn-outline-white {
  background: #3366cc;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}

.btn-outline-white:hover {
  background: white;
  border: 1px solid #3366cc;
  border-radius: 20px;
  color: #3366cc;
}

.btn-white {
  background: white;
  border: 1px solid #3366cc;
  border-radius: 20px;
  color: #3366cc;
}

.btn-white:hover {
  background: #3366cc;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}

/* contacto de emergencia */
.txt-title {
  font-size: 24px;
  font-weight: 600;
  color: #004884;
}

.txt-sub-title {
  font-size: 20px;
  font-weight: 400;
  color: #004884;
}

.phone-number {
  font-size: 18px;
  font-weight: 400;
  color: #024884;
}

.phone-name {
  font-size: 18px;
  font-weight: 400;
  color: #4b4b4b;
}

/* footer */
.txt-title-bold-footer {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: white;
}

.border-white-left {
  border-left: 1px solid white;
}

.txt-title-footer {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.txt-content-footer {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.txt-link {
  color: white;
  font-size: 14px;
}

.txt-subtitle-footer {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.h-470 {
  height: 470px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .pd-4{
    padding: 26px;
  }

  .border-white-left{
    border-left: none;
  }

  .border-white-bottom{
    border-bottom: 1px solid white;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .pd-4{
    padding: 0px;
  } 
  .border-white-left{
    border-left: none;
  }

  .border-white-bottom{
    border-bottom: 1px solid white;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .border-white-left{
    border-left: none
  }
  
  .border-white-bottom{
    border-bottom: 1px solid white;;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .border-white-left{
    border-left: 1px solid white;
  }
  
  .border-white-bottom{
    border-bottom: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .border-white-left{
    border-left: 1px solid white;
  }
  
  .border-white-bottom{
    border-bottom: none;
  }
}
